<!doctype html>
<html>
  <head>
    <title>{{ title | default('Demo Application') }}</title>
  </head>
<body>
<a href="/add">Add record</a> | <a href="/get">Get record</a>
{% block message %}{% endblock %}
{% block content %}{% endblock %}
</body>
</html>
