{% extends "main.html.j2" %}
{% if result == False %}
{% block message %}
<h3>No such record found or something went wrong</h3>
{% endblock %}
{% else %}
{% block content %}
{{ form }}
{% endblock %}
{% endif %}
